<div class="container mt-5">
    <div class="alert alert-danger">
        <h2>{{title}}</h2>
        <p>{{message}}</p>
        {{#if error}}
            <pre class="mt-3">{{error}}</pre>
        {{/if}}
        <a href="/" class="btn btn-primary mt-3">Volver al inicio</a>
    </div>
</div>